<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js">

<head>
    <span th:replace="components/head.html :: head"></span>
    <link th:rel="stylesheet" th:href="@{/css/datetime/font-awesome.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/datetime/bootstrap.min.css}"/>
</head>

<body>
<!-- Main container -->
<div class="container">
    <!-- Blueprint header -->
    <span th:replace="components/header.html :: header(#{menu.change_password})"></span>
    <button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
    <nav id="ml-menu" class="menu">
        <button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
        <div class="menu__wrap" th:insert="components/menu.html :: menu">

        </div>
    </nav>
    <div class="content">
        <p class="info">
        <form th:object="${passwordForm}" method="POST" action="/password" style="padding-bottom: 30px">
            <table>
                <tr>
                    <td class="lcol">
                        <label for="current_password" th:text="#{user.current_password}">Current password</label>
                    </td>
                    <td class="rcol">
                        <input type="password" id="current_password" th:field="*{currentPassword}" />
                    </td>
                </tr>
                <tr>
                    <td class="lcol">
                        <label for="new_password" th:text="#{user.new_password}">New password</label>
                    </td>
                    <td class="rcol">
                        <input type="password" id="new_password" th:field="*{newPassword}" />
                    </td>
                </tr>
                <tr>
                    <td class="lcol">
                        <label for="new_password_retype" th:text="#{user.new_password_retype}">New password 2</label>
                    </td>
                    <td class="rcol">
                        <input type="password" id="new_password_retype" th:field="*{newPasswordRepeat}" />
                    </td>
                </tr>
                <tr>
                    <td class="lcol">
                        &nbsp;
                    </td>
                    <td class="rcol">
                        <span class="error" id="errorMessage" th:text="${message}"></span>
                    </td>
                </tr>
                <tr>
                    <td class="lcol">
                        &nbsp;
                    </td>
                    <td class="rcol">
                        <button type="submit" th:text="#{button.save}"></button>
                    </td>
                </tr>
            </table>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
        </p>
    </div>
</div>
<!-- /view -->
<span th:replace="components/menu.html :: menujs"></span>
</body>

</html>
